name: CI Checks

on:
  pull_request:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: bloq/actions/setup-node-env@7a00bde576f8383a7afabf48dc6153bd7a7daab7 # v1.6.0
      - run: npm run ci-checks
      - run: npm test
